* {
    font-family: Verdana, sans-serif;
    margin: 0;
}
/***** Login CSS Start ******/
.login-bg {
    background-image: url('images/login-bg.jpg');
    background-size: cover;
}
.container {
    display: grid;
    place-items: center;
    height: 100vh;
}
#login {
    box-shadow: 0 0 15px rgb(80, 79, 79);
    padding: 50px 20px;
    border-radius: 15px;
    width: 30%;
    background-color: #fff;
    background-size: cover;    
}
#login h1{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 200;
}
#login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#login form input {
    padding: 10px;
    width: 80%;
    border: 1px solid black;
    margin-top:10px
}
#login form input:focus{
    border: 2px solid rgb(43, 131, 219);
    outline: none;
    padding: 10px;
    box-shadow: 0 0 7px rgb(80, 79, 79);
}
#login form button {
    width: 30%;
    border-radius: 8px;
    padding: 12px;
    margin: 20px 10px;
    background-color: rgb(43, 131, 219);
    border: 1px solid rgb(34, 118, 203);
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
#login input[type="checkbox"] {
    margin-bottom: 20px;
}
#login p {
    text-align: center;
}
#login form button:hover {
    background-color: rgb(43, 131, 219, 0.9);
}
/***** Login CSS End ******/

/****** HOME CSS Start ******/
#home-container {
    /* position: relative; */
    min-height: 100vh;
}
.sticky {
    top:0;
    position: sticky; 
}
#navigation {
    background-color: rgba(248, 236, 236, 0.7) ;
    box-shadow: 0px 2px 5px rgba(154, 147, 147, 0.7);
    padding:30px;
}
#navigation ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 20px;
}
#navigation ul li:last-child {
    float: right;
}
#navigation ul li:last-child a, .bs-logout{
    /* background-color: rgb(205, 205, 250); */
    background-color: #d6e2ea;
    padding: 30px;
}
.bnav ul{
    margin:0;
}
.bnav {
    padding: 27px !important;
}
#navigation ul li a {
    text-decoration: none;
    color: #952a2a;
    text-transform: uppercase;
    padding: 30px;
}
#navigation ul li a:hover,#navigation ul li .active {
    background-color: #c4adad;
    color: #fff;
    font-weight: 600;
}
@media screen and (max-width: 768px) {
    #navigation ul li {
        display: block;
        text-align: center;
        padding: 20px;
    }
    #navigation ul{
        padding: 0;
    }
    #logout {
        clear: both;
        float: none !important;
    }
    .bs-logout {
        margin-right: 0 !important;
    }
    #navigation ul li:last-child a {
        background-color: inherit;
    }
}
.home-bg {
    background-image: url('images/bootstrap-jv.jpg');
    min-height: 800px;
    background-attachment: fixed;
    background-size: cover;
}
.htext{
    text-align: center;
    padding-top: 30px;
    color: #fff;
}
#hfooter {
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
}
.copyright {
    background-color: #d6e2ea;
    padding:30px;
    text-align: center;
}
.html-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
}
.html-main section {
    margin: auto;
    max-width: 400px;
    border: 1px solid rgb(245, 245, 255);
    border-radius: 10px;
    line-height: 1.6;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 5px 5px lightgrey;
    text-align: center;
}
.html-main section img{
    max-width: 400px;
}
.html-main section a {
    text-decoration: none;
}
.html-heading h1, .fu-head{
    font-weight: 200;
    text-transform: uppercase;
    color: #c4adad;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}
.html-heading {
    padding-bottom: 20px;
    
}
.lighthr {
    border: none;
    border-bottom: 2px solid lightgrey ;
    width:250px;
    padding-top:10px;
    margin: auto;
}
/****** HOME CSS End ******/
.bs-header nav{
    background-color: rgba(248, 236, 236, 0.7);
    padding: 0;
}
.bs-header .navbar-brand{
    padding: 30px;
}
.nav-item {
    color: #952a2a;
    text-transform: uppercase;
    padding: 30px !important;
}
.bs-header .active, .bs-header .nav-item:hover{
    background-color: #c4adad;
    color: #fff !important;
    font-weight: 600;
}
.bs-header .navbar-brand{
    color: #acc255;
}
.bs-logout {
    margin-right: 40px
}
.drag-file{
    border: 1px dashed #000;
    height: 300px;
    width: 350px;
    border-radius: 5px;
    font-weight:400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:0 auto;
    margin-top:30px;
  }
  .fu-head {
    text-transform: capitalize;
  }
  .drag-file .icon{
    font-size: 30px;
    color: #000;
  }
  .drag-file h6{
    font-size: 20px;
    font-weight: 300;
    color: #000;
  }
  .drag-file span{
    font-size: 14px;
    font-weight: 300;
    color: #000;
    margin: 10px 0 15px 0;
  }
  .drag-file button{
    padding: 10px 25px;
    font-size: 14px; 
    font-weight: 300;
    border: none;
    outline: none;
    background:transparent;
    color: #000;
    border:1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition:all 0.5s;
  }
  
  .drag-file button:hover{
      background-color:#000;
      color:red;
  }
  
  .drag-file img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .files {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    width: 100%;
  }
.files img{
    margin: 10px;
    max-width: 400px;
    min-height: 300px;
}
.bs-m {
    overflow:auto;
}
#bs_table_wrapper {
    width: 100%;
    margin-top: 50px;
    padding:20px;
}